.separadorAcopio{
    width: 100%;
    height: 50vh;
    min-height: 320px;
    background-color: gray;
    display: flex;
    align-items: center;
    background-image:linear-gradient(95deg, rgba(26, 121, 67, 0.644) 0%, rgba(0, 0, 0, 0.562) 100%), url(../img/Acopio/fondo.jpg);
    background-size: cover;
    .nameCampoFertil{
        font-family: $font;
        text-align: center;
        padding-left: 4rem;
        font-size: 5vw;
        color: white;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        span{
            font-weight: 600;
        }
    }
}

.plantaDeAcopio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    .containerTextPlantaAcopio{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
        font-family: $font;
        button{
            padding: 1rem;
            width: 100%;
            font-family: $font;
            font-size: 1.2rem;
            background-color: $colorverdealternativo;
            border: none;
            border-radius: 5px;
            color: white;
            transition: 0.5s;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
        }
        h2{
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            font-size: 1.5rem;
            color: $colorverdealternativo;
            font-weight: 600;
            
        }
        p{
            color: $colorverdealternativo;
        }

        button:hover{
            background-color: white;
            color: $colorverdealternativo;
            font-weight: 600;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        }
    }
    .containerImgAcopio{
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 2rem;
        .imgAcopioUno{
            width: 250px;
            height: auto;
            border-radius: 5px;
        }
        .imgAcopioDos{
            width: 220px;
            transform: translateX(64px) translateY(-40px);
            border-radius: 5px;
        }
    }

}
.containerAllContentServicesAcopio{
    width: 100%;
    height: 50vh;
    background-color: #225521;
    display: flex;
    justify-content: center;
    align-items: center;
    .containerImgServicesAcopio{
        display: none;
        height: 120%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 0 4px 0 rgba(0,0,0,0.5);
        background-image: url(../img/Acopio/imgServices.jpg);
        background-size: cover;

    }
    .containerServicesAcopio{
        width: 100%;
        height: 100%;
        position: relative;
        .containerTitleServicesAcopio{
            width: 100%;
            height: 4rem;
            position: absolute;
            top: -2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .titleServicesAcopio{
                height: 100%;
                width: 50%;
                background-color: #ff9100;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
                h3{
                    font-size: 1rem;
                    color: white;
                    font-family: $font;
                    font-weight: 600;
                }
            }
            
        }
        .containerListServicesAcopio{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .listServicesAcopio{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                font-family: $font;
                color: white;
                padding: 4rem 0 4rem 0;
                list-style-type: disc;
            }
        }
    }
}

.titleSectionPersonalEncargado{
    font-size: 1.5rem;
    color: #225521;
    font-weight: 600;
    font-family: $font;
    margin: 4rem 0 8rem 2rem;
}

.containerCardsPersonalEncargado{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 0 2rem;
    .cardPersonalEncargado{
        width: 80%;
        min-width: 300px;
        max-width: 512px;
        height: 400px;
        box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.1);
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .containerImgPersonal{
            position: absolute;
            top: -64px;
            width: 100%;
            height: 128px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            .imgPersonal{
                width: 128px;
                height: auto;
                border: 2px solid #225521;
                border-radius: 50%;
                background-size: cover;
                background-color: white;
            }
        }
        .infoPersonal{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: $font;
            text-align: center;
            height: 80%;
            width: 100%;
            .nombrePersonal{
                font-size: 1.5rem;
            }
            .cargoPersonal{
                font-size: 1.2rem;
            }
            p{
                padding: 0 1rem 0 1rem;
            }
        }
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .separadorAcopio{
        height: 60vh;
    }
    .plantaDeAcopio{
        flex-direction: row;
        height: 100vh;
        .containerTextPlantaAcopio{
            button{
                width: 80%;
            }
        }
        .containerImgAcopio{
            align-items: center;
            padding-left: 0;
            padding-top: 2rem;
            .imgAcopioUno{
                width: 250px;
            }
            .imgAcopioDos{
                width: 250px;
            }
        }
    }
    .containerAllContentServicesAcopio{
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
        .containerImgServicesAcopio{
            display: block;
            width: 480px;
        }
        .containerServicesAcopio{
            .containerTitleServicesAcopio{
                .titleServicesAcopio{
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .separadorAcopio{
        height: 80vh;
    }
    .plantaDeAcopio{
        flex-direction: row;
        height: 100vh;
        .containerTextPlantaAcopio{
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.2rem;
            }
            button{
                width: 60%;
            }
        }
        .containerImgAcopio{
            align-items: center;
            padding-left: 0;
            padding-top: 2rem;
            .imgAcopioUno{
                width: 300px;
            }
            .imgAcopioDos{
                width: 300px;
            }
        }
    }
    .containerAllContentServicesAcopio{
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
        .containerImgServicesAcopio{
            display: block;
            width: 480px;

        }
        .containerServicesAcopio{
            .containerTitleServicesAcopio{
                .titleServicesAcopio{
                    width: 30%;
                    h3{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .titleSectionPersonalEncargado{
        font-size: 2rem;
        margin: 8rem 0 8rem 2rem;
    }
}

@media screen and (min-width: 1440px){
    .separadorAcopio{
        height: 100vh;
    }
    .plantaDeAcopio{
        flex-direction: row;
        height: 100vh;
        .containerTextPlantaAcopio{
            margin-left: 100px;
            h2{
                font-size: 3rem;
            }
            p{
                font-size: 2rem;
            }
            button{
                font-size: 1.5rem;
                width: 50%;
            }
        }
        .containerImgAcopio{
            align-items: center;
            padding-left: 0;
            padding-top: 2rem;
            .imgAcopioUno{
                width: 400px;
            }
            .imgAcopioDos{
                width: 400px;
            }
        }
    }
    .containerAllContentServicesAcopio{
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
        .containerImgServicesAcopio{
            display: block;
            width: 480px;
        }
        .containerServicesAcopio{
            .containerTitleServicesAcopio{
                .titleServicesAcopio{
                    width: 20%;
                    h3{
                        font-size: 1.5rem;
                    }
                }
            }
            .listServicesAcopio{
                li{
                    text-transform: uppercase;
                    font-size: 1.6rem;
                }
            }
        }
    }
    .titleSectionPersonalEncargado{
        font-size: 2.5rem;
        margin: 8rem 0rem 8rem 2rem;
    }

    .containerCardsPersonalEncargado{
        margin: 100px 0px;
    }
}