.ContainerCategoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .TittleCategoria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem;
        text-align: center;
        h2{
            font-family: $font;
            font-weight: 700;
            font-size: 2.3rem;
            color: $colorverdealternativo;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        }
    }
    .ContainerTextoCategoria{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        text-align: center;
        font-family: $font;
    }

    .ContainerFormCateogria{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font;
        color: $colorverdealternativo;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        form{
            margin: 50px 0px;
            .ContainerTittleForm{

                h2{
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            .ContainerFormGroup{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                margin-top: 1rem;
                .FormGroup{
                    input{
                        width: 300px;
                        border-radius: 20px;
                        padding: 0.4rem;
                        border: 1px solid #505050b0;
                        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
                        font-style: italic;
                    }
                    .TextArea{
                        width: 300px;
                        height: 150px;
                        border-radius: 20px;
                        padding: 0.4rem;
                        border: 1px solid #505050b0;
                        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
                        font-style: italic;
                    }
                }
                #ButtonForm{
                    button {
                        padding: 1.3rem 2rem;
                        margin: 2rem;
                        font-size: 1rem;
                        text-transform: uppercase;
                        letter-spacing: 2.5px;
                        font-weight: 500;
                        color: #000;
                        background-color: #fff;
                        border: none;
                        border-radius: 45px;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease 0s;
                        cursor: pointer;
                        outline: none;
                    }
                      
                      button:hover {
                        background-color: $colorverdealternativo;
                        box-shadow: 0px 15px 20px rgba(27, 180, 91, 0.4);
                        color: #fff;
                        transform: translateY(-7px);
                    }
                      
                      button:active {
                        transform: translateY(-1px);
                    }
                }
            }

        }
       
    }
}

@media only screen and (min-width: 768px) and (max-width: 1400px){
    .ContainerCategoria{
        .TittleCategoria{
            h2{
                font-size: 3.5rem;
            }
        }
        .ContainerTextoCategoria{

            margin: 40px 50px;
            p{
                font-size: 1.5rem;
            }
        }

        .ContainerFormCateogria{
            form{
                .ContainerTittleForm{

                    h2{
                        font-size: 3rem;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 1400px){
    .ContainerCategoria{
        .TittleCategoria{
            h2{
                font-size: 6rem;
            }
        }
        .ContainerTextoCategoria{

            margin: 40px 100px;
            p{
                font-size: 1.5rem;
            }
        }

        .ContainerFormCateogria{
            form{
                .ContainerFormGroup{
                    .FormGroup{
                        input{
                            width: 400px;
                            border-radius: 20px;
                            padding: 0.6rem;
                        }
                        .TextArea{
                            width: 400px;
                            height: 200px;
                            border-radius: 20px;
                            padding: 0.6rem;
                        }
                    }
                }
                .ContainerTittleForm{

                    h2{
                        font-size: 4rem;
                    }
                }
            }
        }
    }

}