.ContainerPasarelaLogos{
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  display: flex;
  gap: 2rem;
  background-color: #ffffff;
  filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));

  .LogoGallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    animation: 100s slide infinite linear;
    height: 120px;
    .LogoPasarela{
      width: 120px;
      height: auto;
    }
  }

}
.ContainerPsasarelaLogos:before,
.ContainerPsasarelaLogos:after{
  position: absolute;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.ContainerPsasarelaLogosd:before{
  left: 0;
}

.ContainerPsasarelaLogos{
  right: 0;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1400px) {
   
  .ContainerPasarelaLogos{
    width: 100%;
    padding: 10px 0;

    .LogoGallery{
      height: 120px;
      .LogoPasarela{
        width: 120px;
        height: auto;
      }
    }

    

  }
  

}