.ContainerBanner{
    .ContainerFlayerDesktop{
        display: none !important;
    }
}

@media only screen and (min-width: 1024px) {
   .ContainerBanner{
    .ContainerFlayerMobile{
        display: none !important;
    }
    .ContainerFlayerDesktop{
        display: block !important;
        
    }
  }
}