.containerContactoPrincipal{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(95deg, rgba(13, 70, 38, 0.781) 0%, rgba(17, 15, 16, 0.521) 100%), url(../img/contacto/portada\ contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font;
    color: white;
    .containerInfoContactoPrincipal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        padding-left: 2rem;
    }
    .nameContactoPrincipal{
        font-size: 1rem;
    }
    .titleContactoPrincipal{
        font-size: 2rem;
        font-weight: 600;
    }
}

.containerComunicationChannels{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font;
    padding: 2rem 0;
    .channels{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .headOffice, .phoneNumber, .adressElectronic{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            background-color: $colorverdealternativo;
            padding: 2rem;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            color: white;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            img{
                width: 64px;
                height: 64px;
                filter: drop-shadow(0 0 2px black);
            }
            p{  
                text-align: center;
            }
        }
    }
}

.containerFormularioContacto{
    font-family: $font;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .formularioContacto{
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        background-color: rgb(240, 240, 240);
        .group{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            label{
                color: $colorverde;
                font-weight:400;
                font-size: 1rem;
                
            }
            input, textarea{
                padding: 1rem;
                border-radius: 4px;
                border: none;
                width: 80%;
                max-width: 400px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.2);
                border-radius: 23px;
            }
            textarea{
                height: 200px;
            }
            button{
                width: 50%;
                max-width: 150px;
                padding: 1rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-radius: 25px;
                border: none;
                background-color: $colorverdealternativo;
                color: white;
                font-family: $font;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                filter: drop-shadow(0 0 2px black);
                transition: 0.5s;
            }
            button:hover{
                color: $colorverdealternativo;
                background-color: white;
                transform: translateY(-7px);
                box-shadow: 0px 5px 10px rgba(13, 165, 64, 0.4);
                font-weight: 700;
            }
        }
    }
    .mapaCasaCentral{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .containerComunicationChannels{
        padding: 5rem 0;
        .channels{
            flex-direction: row;
            gap: 4rem;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .containerComunicationChannels{
        padding: 5rem 0;
        .channels{
            flex-direction: row;
            gap: 8rem;
        }
    }
    .containerFormularioContacto{
        gap: 0;
        flex-direction: row;
        .mapaCasaCentral{
            width: 100%;
            height: 682px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: -2px 2px 4px 0 rgba(0,0,0,0.2);
            iframe{
                width: 100%;
                height: 100%;
            }
        }

    }

}

@media screen and (min-width: 1440px){
    .containerComunicationChannels{
        padding: 10rem 0;
        .channels{
            flex-direction: row;
            gap: 16rem;
        }
    }
    .containerFormularioContacto{
        gap: 0;
        flex-direction: row;
        .mapaCasaCentral{
            width: 100%;
            height: 682px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: -2px 2px 4px 0 rgba(0,0,0,0.2);
            iframe{
                width: 100%;
                height: 100%;
            }
        }

    }
}


