@media only screen and (min-width: 768px) {
    
    .ContainerAll{
        background-image: url(../img/Recurso\ 8seeds.png);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        scroll-behavior: smooth;
    }

}