.ContainerSemillas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .TipoSemilla{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: $colorverdealternativo;;


        .InfoSemillas{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-direction: column;
            h2{
                color: $colorverdealternativo;
                font-weight: 700;
                padding-top: 3rem;
                font-size: 2rem;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            }
            ul{
                padding: 0;
                li{
                    padding: 1rem;
                }
            }
        }
        .ImgSemillas{
            padding: 2rem;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            img{
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.479);
                width: 300px;
                height: auto;
            }
        }
    }

    .TipoSemillaRight{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $colorverdealternativo;
        color: white;
        filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
        width: 100%;
        
        
        .InfoSemillas{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-direction: column;
            width: 100%;
            h2{
                font-weight: 700;
                padding-top: 3rem;
                font-size: 2rem;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            }
            ul{
                padding: 0;
                
                li{
                    padding: 1rem;
                }
            }
        }
        .ImgSemillas{
            padding: 2rem;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            img{
                border-radius: 10px;
                border: 1px solid rgba(248, 248, 248, 0.479);
                width: 300px;
                height: auto;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .ContainerSemillas{

        .TipoSemilla{
            flex-direction: row;
            .InfoSemillas{
                text-align: start;
                padding: 50px 0px;
                min-height: 50vh;
                h2{
                    padding: 0;
                }
                ul{
                    padding-left: 2rem;
                    list-style:disc;
                    li{
                        padding: 0.5rem 0.2rem;
                    }
                }
            }
        }
        .TipoSemillaRight{
            flex-direction: row-reverse;
            .InfoSemillas{
                text-align: start;
                padding: 50px 0px;
                min-height: 50vh;
                h2{
                    padding: 0;
                }
                ul{
                    padding-left: 2rem;
                    list-style:disc;
                    li{
                        padding: 0.5rem 0.2rem;
                    }
                }
            }
        }
    
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

    .ContainerSemillas{
  
        .TipoSemilla{
          flex-direction: row;
          padding: 0px 200px;
            .InfoSemillas{
              text-align: start;
              padding: 50px 0px;
              min-height: 70vh;
              h2{
                font-size: 3rem;
                padding: 0;
              }
              ul{
                padding-left: 2rem;
                list-style:disc;
                li{
                    font-size: 1.3rem;
                    padding: 0.5rem 0.2rem;
                }
              } 
            }
            .ImgSemillas{
                
                img{
                    width: 400px;
                    height: auto;
                }
            }
        }
        .TipoSemillaRight{
          flex-direction: row-reverse;
          padding: 0px 200px;
            .InfoSemillas{
              text-align: start;
              padding: 50px 0px;
              min-height: 70vh;
                h2{
                  font-size: 3rem;
                  padding: 0;
                }
                ul{
                  padding-left: 2rem;
                  list-style:disc;
                    li{
                      font-size: 1.3rem;
                      padding: 0.5rem 0.2rem;
                    }
                } 
            }
            .ImgSemillas{
                padding: 3rem;
                img{
                    width: 400px;
                    height: auto;
                    
                }
            }
        }
      
    }
}

@media only screen and (min-width: 1400px) {

    .ContainerSemillas{
  
        .TipoSemilla{
          flex-direction: row;
          padding: 0px 350px;
            .InfoSemillas{
              text-align: start;
              padding: 50px 0px;
              min-height: 70vh;
              h2{
                font-size: 4rem;
                padding: 0;
              }
              ul{
                padding-left: 2rem;
                list-style:disc;
                li{
                    font-size: 1.5rem;
                    padding: 1rem 0.5rem;
                }
              } 
            }
            .ImgSemillas{
                
                img{
                    width: 450px;
                    height: auto;
                }
            }
        }
        .TipoSemillaRight{
          flex-direction: row-reverse;
          padding: 0px 350px;
            .InfoSemillas{
              text-align: start;
              padding: 50px 0px;
              min-height: 70vh;
                h2{
                  font-size: 4rem;
                  padding: 0;
                }
                ul{
                  padding-left: 2rem;
                  list-style:disc;
                    li{
                      font-size: 1.5rem;
                      padding: 1rem 0.5rem;
                    }
                } 
            }
            .ImgSemillas{
                padding: 3rem;
                img{
                    width: 450px;
                    height: auto;
                    
                }
            }
        }
      
    }
}