.ContainerNosotros{
    font-family: $font;

    .ContainerInfoNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .NosotrosLeft{
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            
            .LineLeft{
                position: absolute;
                width: 2px;
                height: 250px;
                background-color: $colorverde;
                margin: 2rem 1rem;
                left: 1;
            }  
            .TittleNosotros{
                margin: 2rem 2rem ;
                color: $colorverde;
                
            }
            
        }
        .NosotrosImage{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            
            img{
                width: 300px; 
                height: 200px; 
                object-fit: cover;
                object-position: center;
                border-radius: 20px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
            
        }
        
    }

    .ContainerInfoNosotrosRigth{

        .NosotrosRigth{
            display: flex;
            justify-content: start;
            align-items: end;
            text-align: right;
            flex-direction: column;
            
            .LineRigth{
                position: absolute;
                width: 2px;
                height: 250px;
                background-color: $colorverde;
                margin: 2rem 1rem;
                right: 0;
            }  
            .TittleNosotros{
                margin: 2rem 2rem ;
                color: $colorverde;
            
                ul{
                    text-transform: uppercase;
                }
            }
            
        }
        .NosotrosImage{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            
            img{
                width: 300px; 
                height: 200px; 
                object-fit: cover;
                object-position: center;
                border-radius: 20px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
            
            #nota{
                transition: 1s;
            }
            #nota:hover{
                transform: scale(1.05);
            }
        }
    }
    
    .valores{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-areas: "etica responsabilidad responsabilidad trabajo"
                             "confianza valores valores trabajo"
                             "confianza empatia integridad trabajo"
                             "compromiso compromiso relaciones relaciones";
        
        .responsabilidad{
            grid-area: responsabilidad ;
        }
        .principal{
            grid-area: valores;
            font-size: 3rem;
        }
        .etica{
            grid-area: etica; 
            writing-mode: vertical-rl;
        }
        .trabajo{
            grid-area: trabajo;
            writing-mode: vertical-rl;
            
            
        } 
        .relaciones{
            grid-area: relaciones;
        }
        .integridad{
            grid-area: integridad;
        }
        .empatia{
            grid-area: empatia;
        }
        .confianza{
            grid-area: confianza;
            writing-mode: vertical-rl
        }
        .compromiso{
            grid-area: compromiso;
        }
    }

    
    .Video{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        
        iframe{
            width: 350px;
            height: 300px;
            border-radius: 20px;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));

        }
    }
   
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .ContainerNosotros{
        

        .ContainerInfoNosotros{
            display: flex;
            flex-direction: row;
            .NosotrosLeft{
                width: 50%;
            }
           
            .NosotrosImage{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                width: 50%;
                img{
                    width: 350px; 
                    height: 300px; 
                  
                }
                
            }
            
        }
    
        .ContainerInfoNosotrosRigth{
            display: flex;
            flex-direction: row-reverse;
            .NosotrosRigth{
                width: 50%;
                 
                .TittleNosotros{
                
                    ul{
                        text-transform: uppercase;
                    }
                }
                
            }
            .NosotrosImage{
        
                width: 50%;
                img{
                    width: 350px; 
                    height: 300px; 
                    
                }
                
            }
        }
        
    
        
        .Video{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 60px 50px;
            
            iframe{
                width: 560px;
                height: 300px;
                border-radius: 20px;
    
            }
        }
    }

   
   
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .ContainerNosotros{
        

        .ContainerInfoNosotros{
            display: flex;
            flex-direction: row;
            margin: 50px 0px;
            .NosotrosLeft{
                width: 50%;
                .LineLeft{
                    margin: 2rem 4rem;
                }  
                .TittleNosotros{
                    margin: 2rem 5rem ;
                    h2{
                        font-size: 3rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
           
            .NosotrosImage{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                width: 50%;
                img{
                    width: 550px; 
                    height: 400px; 
                  
                }
                
            }
            
        }
    
        .ContainerInfoNosotrosRigth{
            display: flex;
            flex-direction: row-reverse;
            margin: 50px 0px;
            .NosotrosRigth{
                width: 50%;
                .LineRigth{
                    margin: 2rem 4rem;
                }  
                .TittleNosotros{
                    margin: 2rem 5rem ;
                    h2{
                        font-size: 3rem;
                    }
                    
                    p{
                        font-size: 1.2rem;
                    }
                    
                }
                 
                .TittleNosotros{
                
                    ul{
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        margin-right: 10px;
                    }
                }
                
            }
            .NosotrosImage{
        
                width: 50%;
                img{
                    width: 550px; 
                    height: 400px; 
                    
                }
                
            }
        }
        
    
        
        .Video{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 60px 50px;
            
            iframe{
                width: 1000px;
                height: 600px;
                border-radius: 20px;
    
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .ContainerNosotros{
        

        .ContainerInfoNosotros{
            display: flex;
            flex-direction: row;
            margin: 50px 0px;
            .NosotrosLeft{
                width: 50%;
                .LineLeft{
                    margin: 2rem 6rem;
                }  
                .TittleNosotros{
                    margin: 2rem 8rem ;
                    h2{
                        font-size: 3rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
           
            .NosotrosImage{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                width: 50%;
                img{
                    width: 650px; 
                    height: 500px; 
                  
                }
                
            }
            
        }
    
        .ContainerInfoNosotrosRigth{
            display: flex;
            flex-direction: row-reverse;
            margin: 50px 0px;
            .NosotrosRigth{
                width: 50%;
                .LineRigth{
                    margin: 2rem 6rem;
                }  
                .TittleNosotros{
                    margin: 2rem 8rem ;
                    h2{
                        font-size: 3rem;
                    }
                    
                    p{
                        font-size: 1.2rem;
                    }
                    
                }
                 
                .TittleNosotros{
                
                    ul{
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        margin-right: 10px;
                    }
                }
                
            }
            .NosotrosImage{
        
                width: 50%;
                img{
                    width: 650px; 
                    height: 500px; 
                    
                }
                
            }
        }
        
    
        
        .Video{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 60px 50px;
            
            iframe{
                width: 1000px;
                height: 600px;
                border-radius: 20px;
    
            }
        }
    }
}