.ContainerControlEnfermedades{
    background-image: url(../img/SEEDS\ CHICAS.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    
    .ContainerInfoEnfermedades{
       display: flex;
       flex-direction: row;
       position: relative;
       filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
        .ContainerTittleEnfermedades{
            width: 70%; 
            background-color: #356E48;
            font-family: $font;
            z-index: 2;
            height: 200px;
            position: absolute;
            left: 0; 
            

            .TittleControl{
                padding: 2.5rem 2rem 0rem 1rem;
                width: 200px;
                font-size: 1.5rem;
                color: white;
                text-transform: uppercase;
                font-weight: 700;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            }
            .TittleFoliares{
                padding: 0rem 2rem 2.5rem 1rem;
                font-size: 2.2rem;
                color: #5FB15C;
                text-transform: uppercase;
                font-weight: 700;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            }
        }
    
        .ContainerImagenEnfermedades{
            width: 90%; 
            z-index: 3;
            margin-top: 150px;
            margin-left: 70px;
            right: 0;
            
            .ImgEnfermedades{
                width: 100%;
                height: auto;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }

    }
}


@media only screen and (min-width: 768px) and (max-width: 1200px){

    .ContainerControlEnfermedades{
        background-image: none;

        .ContainerInfoEnfermedades{
           margin: 200px 0px 200px 0px;
            .ContainerTittleEnfermedades{
                
                width: 60%;
                height: 400px;
     
                .TittleControl{
                    font-size: 2.5rem;
                }
                .TittleFoliares{
                    font-size: 4rem;
                }
            }
         
            .ContainerImagenEnfermedades{
                width: 70%; 
                z-index: 3;
                margin-top: 260px;
                margin-left: 300px;
                right: 0;
            
            }
     
        }

    }

}

@media only screen and (min-width: 1200px) and (max-width: 1400px){

    .ContainerControlEnfermedades{
        background-image: none;
        justify-content: start;

        .ContainerInfoEnfermedades{
           margin: 200px 0px 200px 0px;
            .ContainerTittleEnfermedades{
                width: 50%;
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 1rem;
                padding-left: 3rem;
     
                .TittleControl{
                    font-size: 3.5rem;
                    width: 500px;
                    padding: 0%;
                }
                .TittleFoliares{
                    font-size: 6rem;
                    width: 500px;
                    padding: 0%;
                }
            }
         
            .ContainerImagenEnfermedades{
                width: 60%; 
                z-index: 3;
                margin-top: 350px;
                margin-left: 650px;
                right: 0;
                
            
            }
     
        }

    }

}

@media only screen and (min-width: 1400px) and (max-width: 1920px){

    .ContainerControlEnfermedades{
        background-image: none;
        justify-content: start;

        .ContainerInfoEnfermedades{
           margin: 200px 0px 200px 0px;
            .ContainerTittleEnfermedades{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                width: 50%;
                height: 50%;
                gap: 2rem;
     
                .TittleControl{
                    font-size: 5rem;
                    margin-left: 2rem;
                }
                .TittleFoliares{
                    font-size: 6rem;
                    margin-left: 2rem;
                }
            }
         
            .ContainerImagenEnfermedades{
                width: 80%; 
                z-index: 3;
                margin-top: 400px;
                margin-left: 700px;
                right: 0;

                
                
            }
     
        }

    }

}

@media only screen and (min-width: 1921px){
    .ContainerControlEnfermedades{
        background-image: none;
        justify-content: start;

        .ContainerInfoEnfermedades{
           margin: 200px 0px 200px 0px;
            .ContainerTittleEnfermedades{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                width: 60%;
                height: 800px;
     
                .TittleControl{
                    font-size: 6rem;
                    margin-left: 2rem;
                    width: 100%;
                }
                .TittleFoliares{
                    font-size: 8rem;
                    margin-left: 2rem;
                }
            }
         
            .ContainerImagenEnfermedades{
                width: 90%; 
                z-index: 3;
                margin-top: 400px;
                margin-left: 1000px;
                right: 0;
            }
     
        }

    }


}