.ContainerControlEnfermedades{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 3rem;
    min-height: 90vh;
    background-image: url(../img/seeds2.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    
    .ContainerTittleEnfermedades{
        width: 70%;
        background-color: #356E48;
        font-family:$font;
        position: absolute;
        z-index: 2;
        height: 200px;
        .TittleControl{
            padding: 2.5rem 2rem 0rem 1rem;
            width: 200px;
            font-size: 1.5rem;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        }
        .TittleFoliares{
            padding: 0rem 2rem 2.5rem 1rem;
            font-size: 2.5rem;
            color: #5FB15C;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        }
    }

    .ContainerImagenEnfermedades{
        margin: 320px 0px 0px 110px;
        z-index: 3;
        width: 100%;
        padding-bottom: 5rem;
        img{
            width: 100%;
            height: auto;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
        }
    }
}