footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: white;
    filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
    
    .ContainerFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .ContainerLogoFooter{
            img{
                width: 200px;
                height: auto;
            }
        }
        .ContainerNavbarFooter{
            padding: 2rem;
            font-family: $font;
            text-transform: uppercase;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                padding: 2rem;
                li a{
                    color: $colorverde;
                    text-decoration: none;
                    transition: 0.5s;
                }
                li a:hover{
                    color: $colornaranja;
                }
            }
        }

        .ContainerSocialMedia{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            a img{
                width: 30px;
                height: auto;
            }
        }
    }
    .ContainerCopy{
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-family: $font;
        }
    }
}

@media only screen and (min-width: 1200px) {

    footer{
        .ContainerFooter{
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 7rem;
            
        }
    }


}