.ContainerLanding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    background-image: url(../img/portada\ 3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .ContainerBrand{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font;
        color: white;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
        
        h1{
            display: none;
        }

        h2{
            font-size: 1.3rem;
            font-family: $font;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            width: 200px;
            letter-spacing: 1px;
            line-height: 1.2; 
        }
        .ContainerImgBrand{

            .BrandLanding{
                width: 250px;
                height: auto;
                padding-bottom: 3rem;
                filter: drop-shadow(0 1px  2px rgba(0, 0, 0, 0.582));
                z-index: 1;
                position: relative;
            }
        }
       
    }
    
    .ContainerButtonDown{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        position: absolute;
        bottom: 0;
        
        
        .ButtonDown{
            background-color: transparent;
            border: none;
            cursor: pointer;

            .ImgBtnDown {
                width: 45px;
                animation: moveUpDown 2s ease-in-out infinite;
                filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.8)); 
                transition: 0.5s;
            }
            .ImgBtnDown:hover {
                width: 55px;
                
            }
        }
    }

}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .ContainerLanding{
        background-image: none;
        .ContainerBrand{
            flex-direction: row-reverse;
            .ContainerSecondTittle{
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    position: absolute;
                    left: 0;
                    width: 30%;
                    background-color: #00471ae3;
                    padding: 3rem;
                    text-align: start;
                    filter: drop-shadow(0 1px  2px rgba(0, 0, 0, 0.582));
                    span{
                        font-size: 3rem;
                    }
                }
            }
           
            .ContainerImgBrand{
                position: absolute;
                right: 0;
                width: 100%;
                display: flex;
                justify-content: end;
                background-image: url(../img/portada\ 3.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 90vh;
                filter: drop-shadow(0 1px  2px rgba(0, 0, 0, 0.582));


                .BrandLanding{
                    width: 300px;
                    height: auto;
                    margin-right: 2rem;                    
                }

            }
            

        }
    }

}


@media only screen and (min-width: 1200px) and (max-width: 1400px){

    .ContainerLanding{
        background-image: none;
        .ContainerBrand{
            flex-direction: row-reverse;
            .ContainerSecondTittle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                background-color: #00471ae3;
                position: absolute;
                left: 0;
                padding: 4rem;
                .SecondTittle{
                    font-size: 2.5rem;
                    width: auto;
                    text-align: start;
                    
                    span{
                        font-size: 6rem;
                    }
                }
            }
           
            .ContainerImgBrand{
                position: absolute;
                right: 0;
                width: 100%;
                display: flex;
                justify-content: end;
                background-image: url(../img/portada\ 3.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 90vh;
                

                .BrandLanding{
                    width: 400px;
                    height: auto;
                    margin-right: 2rem;                    
                }

            }
            

        }
    }


}

@media only screen and (min-width: 1400px){

    .ContainerLanding{
        background-image: none;
        .ContainerBrand{
            flex-direction: row-reverse;
            .ContainerSecondTittle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                background-color: #00471ae3;
                position: absolute;
                left: 0;
                padding: 4rem;
                
                .SecondTittle{
                    font-size: 2.5rem;
                    width: 400px;
                    text-align: start;
                    
                    span{
                        font-size: 6rem;
                    }
                }
            }
           
            .ContainerImgBrand{
                position: absolute;
                right: 0;
                width: 100%;
                display: flex;
                justify-content: end;
                background-image: url(../img/portada\ 3.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 90vh;
                

                .BrandLanding{
                    width: 500px;
                    height: auto;
                    margin-right: 5rem;                    
                }

            }
            

        }
    }


}