.ContainerLogistica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo\ seeds.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0rem 10rem 0rem;
    color: white;
    font-family: $font;
    min-height: 90vh;

    .ContainerInfoLogistica{
        background-color: $colorverdealternativo;
        padding: 2rem 2rem 4rem 2rem;
        
        h2{
            font-size: 3rem;
            font-weight: 700;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        }
        p{
            padding: 2rem 0.5rem 2rem 0.5rem;
            font-weight: 300;
        }

        ul{
            padding: 0.5rem 2rem 0rem 2rem;
            font-weight: 300;
        }

        ul li{
            padding-bottom: 1rem;
            list-style-type:disc;

        }
    }

    .ContainerImgLogistica{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 780px;
        img{
            width: 100%;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            margin-bottom: 4rem;
        }
    }
}