.ContainerLogistica{
    padding: 0rem 0rem 10rem 0rem;
    color: white;
    font-family: $font;
    min-height: 90vh;
    background-image: url(../img/SEEDS\ CHICAS.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;

    .ContainerInfoLogistica{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ContainerTextLogistica{
            background-color: $colorverdealternativo;
            padding: 2rem 2rem 8rem 2rem;
        
            h2{
                font-size: 3rem;
                font-weight: 700;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            }
            p{
                padding: 2rem 0.5rem 2rem 0.5rem;
                font-weight: 300;
            }

            ul{
                padding: 0.5rem 2rem 0rem 2rem;
                font-weight: 300;
            }

            ul li{
                padding-bottom: 1rem;
                list-style-type:disc;

            }
        }

        .ContainerImgLogistica{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            margin-top: 780px;
            img{
                width: 100%;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
                margin-bottom: 4rem;
            }
        }    
    
    }

    
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .ContainerLogistica{
        background-image: none;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .ContainerLogistica{
        background-image: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ContainerInfoLogistica{
            flex-direction: row;
            justify-content: start;
            
            .ContainerTextLogistica{
                padding: 2rem 1rem 2rem 3rem;
                width: 60%;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));

                h2{
                    font-size: 4rem;
                   
                }
                p{
                    padding: 2rem 3rem 2rem 0.5rem;
                    font-weight: 300;
                    font-size: 1.5rem;
                }
    
                ul{
                    padding: 0.5rem 5rem 3rem 3rem;
                    font-weight: 300;
                    font-size: 1.5rem;
                }
    
                ul li{
                    padding-bottom: 1rem;
                    list-style-type:disc;
                    font-size: 1.5rem;
    
                }   

            }

            .ContainerImgLogistica{
                position: absolute;
                margin: 0;
                width: 40%;
                right: 0;
                
                img{
                    margin: 0;
                }
            }
        }


    }

}

@media only screen and (min-width: 1400px){
    .ContainerLogistica{
        background-image: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ContainerInfoLogistica{
            flex-direction: row;
            justify-content: start;
            
            
            
            .ContainerTextLogistica{
                padding: 5rem 1rem 4rem 3rem;
                width: 60%;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));

                h2{
                    font-size: 5rem;
                   
                }
                p{
                    padding: 2rem 6rem 2rem 0.5rem;
                    font-weight: 300;
                    font-size: 1.5rem;
                }
    
                ul{
                    padding: 0.5rem 9rem 3rem 3rem;
                    font-weight: 300;
                    font-size: 1.5rem;
                }
    
                ul li{
                    padding-bottom: 1rem;
                    list-style-type:disc;
                    font-size: 1.5rem;
    
                }   

            }

            .ContainerImgLogistica{
                position: absolute;
                margin: 0;
                width: 45%;
                right: 0;
                
                img{
                    margin: 0;
                }
            }
        }


    }
}

