.backgroundPrincipalLogistica{
    width: 100%;
    height: 30vh;
    background-color: grey;
    display: flex;
    align-items: center;
    font-family: $font;
    color: white;
    font-size: 2rem;
    background-image: url(../img/Logistica/backLogistica4.jpg);
    background-size: cover;
    p{
        position: relative;
        z-index: 2;
        text-align: center;
        margin-left: 10%;
        span{
            font-weight: 600;
        }
    }
}

.backgroundPrincipalLogistica::before{
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.4); /* Ajusta la opacidad aquí */
    z-index: 1;
}

.containerTypesTransport{
    .titleTransporte{
        color: $colorverde;
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-top: 4rem;
    }
    .descriptionTransporte{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
        span{
            color: $colorverde;
            font-weight: 600;
        }
    }
    .containerCardVehicles{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
        margin-bottom: 2rem;
        .vehicle{
            width: 100%;
            max-width: 400px;
            height: 400px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            transition: 0.4s;
            .batea, .semirremolque, .barandaVolcable{
                background-size: cover;
                width: 100%;
                height: 50%;

            }
            .containerTypeTruck{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .typeTruck{
                    color: $colorverde;
                    font-size: 2rem;
                    text-align: center;
                    line-height: 2rem;
                }
            }
            }
        .vehicle:hover{
            transform: scale(1.05);
            box-shadow: 0 4px 4px rgba(0,71,26,0.2);
        }
        }
    }

@media screen and (min-width: 768px) and (max-width:1024px){
    .backgroundPrincipalLogistica{
        height: 50vh;
    }
    .backgroundPrincipalLogistica::before{
        height: 50vh;
    }
    .containerTypesTransport{
        .descriptionTransporte{
            font-size: 1.5rem;
            width: 60%;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width:1440px){
    .backgroundPrincipalLogistica{
        height: 70vh;
    }
    .backgroundPrincipalLogistica::before{
        height: 70vh;
    }
    .containerTypesTransport{
        .descriptionTransporte{
            font-size: 1.5rem;
            width: 60%;
        }
    }
}

@media screen and (min-width: 1440px){
    .backgroundPrincipalLogistica{
        height: 80vh;
    }
    .backgroundPrincipalLogistica::before{
        height: 80vh;
    }
    .containerTypesTransport{
        .descriptionTransporte{
            font-size: 1.5rem;
            width: 60%;
        }
    }
}