.PortadaProduccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .ContainerProduccionVid{
        width: 100%;
        height: auto;
        z-index: 2;
        
        video{
            width: 100%;
            height: auto;
            position: absolute;
            
        }
    }
    .ContainerTittleProduccion{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 33vh;
        z-index: 3;
        text-align: center;
        h2{
            font-size: 2rem;
            font-weight: 800;
            color: white;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
        }
    }
}

.ContainerAgricultura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/SEEDS\ CHICAS.png);
    
    .ContainerInfo{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0rem;
        font-family: $font;
        width: auto;
        .ContainerTittleInfo{
            background-color: #4d8961;
            text-align: center;
            font-size: 2rem;
            border-radius: 5px;
            color: white;
            padding: 1.1rem;
            position: absolute;
            top: 5rem;
            z-index: 2;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            h2{
                text-align: center;
                font-weight: 750;
                letter-spacing: 1px;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            }
        }
        .TextProduccion{
            background-color: #4d8961;
            color: white;
            border-radius: 10px;
            padding: 2rem 0.5rem;
            font-family: $font;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 1.2rem;
            line-height: 1.2;
            margin: 90px 0px 0px 0px ;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            text-align: center;
            width: 350px;
            p{
                margin-bottom: 2rem;
            }
        }
        
    }
    
    .ContainerImgProduccion{
        
        img{
            width: 330px;
            border-radius: 10px;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            transition: 1s;
        }
        img:hover{
            transform: scale(1.05);
        }
    }
}

.ContainerGanaderia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/SEEDS\ CHICAS.png);
    
    .ContainerInfo{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0rem;
        font-family: $font;
        width: auto;
        .ContainerTittleInfo{
            background-color: #4d8961;
            text-align: center;
            font-size: 2rem;
            border-radius: 5px;
            color: white;
            padding: 1.1rem;
            position: absolute;
            top: 5rem;
            z-index: 2;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            h2{
                text-align: center;
                font-weight: 750;
                letter-spacing: 1px;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.397);
            }
        }
        .TextProduccion{
            background-color: #4d8961;
            color: white;
            border-radius: 10px;
            padding: 2rem 0.5rem;
            font-family: $font;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 1.2rem;
            line-height: 1.2;
            margin: 90px 0px 0px 0px ;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            text-align: center;
            width: 350px;
            p{
                margin-bottom: 2rem;
            }
        }
        
    }
    
    .ContainerImgProduccion{
        
        img{
            width: 330px;
            border-radius: 10px;
            filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            transition: 1s;
        }
        img:hover{
            transform: scale(1.05);
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .PortadaProduccion{

        .ContainerTittleProduccion{
            min-height: 40vh;
            width: 500px;
            h2{
                font-size: 3rem;
            }
        }
    }
    .ContainerAgricultura{
        background-image: none;
        flex-direction: row;
        position: relative;
        justify-content: start;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: start;
            padding: 0;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 0px 20px;
                    padding: 0%;
                    text-align: start;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: start;
                font-weight: 400;
                margin: 70px 20px;
                padding: 2rem 0rem;
                width: 65%;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            right: 0;
            img{
                width: 380px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
    .ContainerGanaderia{
        background-image: none;
        flex-direction: row-reverse;
        justify-content: end;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: end;
            padding: 0;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 0px 20px;
                    padding: 0%;
                    text-align: start;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: end;
                font-weight: 400;
                margin: 70px 20px;
                padding: 2rem 0rem;
                width: 65%;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            left: 0;
            img{
                width: 380px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .PortadaProduccion{
        .ContainerTittleProduccion{
            min-height: 50vh;
            width: 500px;
            h2{
                font-size: 3.5rem;
            }
        }
    }
    .ContainerAgricultura{
        background-image: none;
        flex-direction: row;
        position: relative;
        justify-content: start;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: start;
            padding: 0;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 0px 20px;
                    padding: 0%;
                    text-align: start;
                    font-size: 3rem;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: start;
                font-weight: 400;
                margin: 70px 20px;
                padding: 2rem 0rem;
                width: 75%;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            right: 0;
            img{
                margin: 2rem;
                width: 450px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
    .ContainerGanaderia{
        background-image: none;
        flex-direction: row-reverse;
        justify-content: end;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: end;
            padding: 0;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 0px 20px;
                    padding: 0%;
                    text-align: end;
                    font-size: 3rem;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: end;
                font-weight: 400;
                margin: 70px 20px;
                padding: 2rem 0rem;
                width: 75%;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            left: 0;
            img{
                margin: 2rem;
                width: 450px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .PortadaProduccion{
        .ContainerTittleProduccion{
            min-height: 62vh;
            width: 500px;
            h2{
                font-size: 3.5rem;
            }
        }
    }
    .ContainerAgricultura{
        background-image: none;
        flex-direction: row;
        position: relative;
        justify-content: start;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: start;
            padding: 0;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 0px 20px;
                    padding: 0%;
                    text-align: start;
                    font-size: 3rem;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: start;
                font-weight: 400;
                margin: 70px 20px;
                padding: 2rem 0rem;
                width: 80%;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            right: 0;
            img{
                margin: 2rem;
                width: 520px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
    .ContainerGanaderia{
        background-image: none;
        flex-direction: row-reverse;
        justify-content: end;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: end;
            padding: 0;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 0px 20px;
                    padding: 0%;
                    text-align: end;
                    font-size: 3rem;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: end;
                font-weight: 400;
                margin: 70px 20px;
                padding: 2rem 0rem;
                width: 80%;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            left: 0;
            img{
                margin: 2rem;
                width: 520px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
}

@media only screen and (min-width: 1400px){
    .PortadaProduccion{
        .ContainerTittleProduccion{
            min-height: 95vh;
            width: 500px;
            h2{
                font-size: 5rem;
            }
        }
        .ContainerProduccionVid{
            width: 100%;
            height: auto;
            z-index: 2;
            
            video{
                width: 100%;
                height: auto;
                position: absolute;
                
            }
        }
    }
    .ContainerAgricultura{
        background-image: none;
        flex-direction: row;
        position: relative;
        justify-content: start;
        min-height: 100vh;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: start;
            padding: 0;
            min-height: 100vh;
            justify-content: start;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 100px 20px;
                    padding: 0%;
                    text-align: end;
                    font-size: 5rem;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: start;
                font-weight: 400;
                margin: 20px 20px 0px 20px;
                padding: 2rem 0rem;
                width: 80%;
                font-size: 1.5rem;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            right: 0;
            img{
                margin: 200px 25px 0px 25px;
                width: 720px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
    .ContainerGanaderia{
        background-image: none;
        flex-direction: row-reverse;
        justify-content: end;
        min-height: 100vh;
        .ContainerInfo{
            position: relative;
            background-color: #4d8961;
            width: 70%;
            align-items: end;
            padding: 0;
            min-height: 100vh;
            justify-content: start;
            .ContainerTittleInfo{
                position: relative;
                text-align: start;
                background-color:#ffffff00;
                padding: 0%;
                margin-top: 50px;
                h2{ 
                    margin: 0px 20px;
                    padding: 0%;
                    text-align: end;
                    font-size: 5rem;
                }
            }
            .TextProduccion{
                position: relative;
                background-color:#ffffff00;
                text-align: end;
                font-weight: 400;
                margin: 100px 20px 0px 20px;
                padding: 2rem 0rem;
                width: 80%;
                font-size: 1.5rem;
            }
        }
        .ContainerImgProduccion{
            position: absolute;
            left: 0;
            img{
                margin: 2rem;
                width: 720px;
                border-radius: 10px;
                filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
            }
        }
    }
}