.Sucursales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    gap: 50px;
    .ContainerTittleSucHome{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        flex-direction: column;
        .TittleSucHome{
            color: $colorverdealternativo;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.692);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 2.5rem;
            margin: 2rem;
        }

        .TextSucHome{
            margin: 2rem;
            text-align: center;
            color: $colorverde;
            font-size: 1.2rem;
        }
    }
    .containerSucursal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .infoCasaCentral{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 1rem;
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
            width: 90%;
            border-radius: 8px;
            h3{
                color: $colornaranja;
            }
            h2{
                color: $colorverde;
                font-size: 1.2rem;
                font-weight: 600;
            }
            hr{
                background-color: black;
                width: 100%;
                height: 1px;
            }
            .location, .emailAdress, .phoneNumber{
                width: 100%;
                display: flex;
                gap: 1rem;
                img{
                    width: 32px;
                    height: 32px;
                }
                .infoLocation{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .parrafoUno{
                        font-weight: 600;
                    }
                    .parrafoDos, .parrafoTres{
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .mapCasaCentral{
            width: 90%;
            height: 256px;
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
            iframe{
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }
    }
    
}


@media screen and (min-width: 768px) and (max-width:1024px){
    .Sucursales{
        .ContainerTittleSucHome{
           
            .TittleSucHome{
                margin-top: 4rem;
                font-size: 3rem
            }
    
            .TextSucHome{
                margin: 2rem 3rem;
                text-align: center;
                color: $colorverde;
                font-size: 1.2rem;
                max-width: 700px;
            }
        }
        .containerSucursal{
            flex-direction: row;
            .infoCasaCentral{
                min-width: 350px;
                max-width: 500px;
                h3{
                    font-size: 1rem;
                }
                h2{
                    font-size: 1rem;
                }
            }
            .mapCasaCentral{
                min-width: 350px;
                max-width: 500px;
                height: 453.22px;
            }
        }

    }
    
}

@media screen and (min-width: 1024px) and (max-width:1440px){

    .Sucursales{

        .ContainerTittleSucHome{
           
            .TittleSucHome{
                margin-top: 4rem;
                font-size: 3rem
            }
    
            .TextSucHome{
                margin: 2rem 3rem;
                text-align: center;
                color: $colorverde;
                font-size: 1.2rem;
                max-width: 800px;
            }
        }
        .containerSucursal{
            flex-direction: row;
            .infoCasaCentral{
                width: 500px;
                h3{
                    font-size: 1rem;
                }
                h2{
                    font-size: 1.5rem;
                }
                .location, .emailAdress, .phoneNumber{
                    .infoLocation{
                        .parrafoUno{
                            font-size: 1.2rem;
                        }
                        .parrafoDos, .parrafoTres{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            .mapCasaCentral{
                width: 500px;
                height: 480.39px;
            }
        }
    }
    

}

@media screen and (min-width: 1440px){

    .Sucursales{

        .ContainerTittleSucHome{
           
            .TittleSucHome{
                margin-top: 4rem;
                font-size: 4rem
            }
    
            .TextSucHome{
                margin: 2rem 3rem;
                text-align: center;
                color: $colorverde;
                font-size: 1.3rem;
                max-width: 800px;
            }
        }
        .containerSucursal{
            flex-direction: row;
            .infoCasaCentral{
                padding: 3rem;
                width: 600px;
                h3{
                    font-size: 1.5rem;
                }
                h2{
                    font-size: 2rem;
                }
                .location, .emailAdress, .phoneNumber{
                    .infoLocation{
                        .parrafoUno{
                            font-size: 1.5rem;
                        }
                        .parrafoDos, .parrafoTres{
                            font-size: 1rem;
                        }
                    }
                }
            }
            .mapCasaCentral{
                width: 600px;
                height: 594px;
            }
        }
    }

}